body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:416px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62 {
  position:absolute;
  left:-104px;
  top:9px;
  width:624px;
  height:206px;
  overflow:hidden;
}
#u62_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:177px;
}
#u63 {
  position:absolute;
  left:-397px;
  top:13px;
  width:590px;
  height:177px;
}
#u64 {
  position:absolute;
  left:2px;
  top:80px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u65 {
  position:absolute;
  left:-85px;
  top:24px;
  width:170px;
  height:170px;
}
#u66 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:58px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:-47px;
  top:75px;
  width:126px;
  height:58px;
}
#u68 {
  position:absolute;
  left:2px;
  top:21px;
  width:122px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:50px;
}
#u69 {
  position:absolute;
  left:428px;
  top:82px;
  width:37px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:17px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:124px;
  top:63px;
  width:93px;
  height:74px;
}
#u72 {
  position:absolute;
  left:2px;
  top:29px;
  width:89px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:285px;
  top:63px;
  width:93px;
  height:74px;
}
#u74 {
  position:absolute;
  left:2px;
  top:29px;
  width:89px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  position:absolute;
  left:25px;
  top:241px;
  width:265px;
  height:50px;
}
#u76 {
  position:absolute;
  left:2px;
  top:17px;
  width:261px;
  word-wrap:break-word;
}
