body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:59px;
}
#u108 {
  position:absolute;
  left:254px;
  top:258px;
  width:60px;
  height:59px;
}
#u108_img.selected {
}
#u108.selected {
}
#u109 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:59px;
}
#u110 {
  position:absolute;
  left:258px;
  top:333px;
  width:60px;
  height:59px;
}
#u110_img.selected {
}
#u110.selected {
}
#u111 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:285px;
}
#u112 {
  position:absolute;
  left:20px;
  top:402px;
  width:430px;
  height:285px;
}
#u113 {
  position:absolute;
  left:2px;
  top:134px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u114 {
  position:absolute;
  left:148px;
  top:342px;
  width:81px;
  height:41px;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:45px;
}
#u116 {
  position:absolute;
  left:365px;
  top:342px;
  width:85px;
  height:45px;
}
#u117 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:181px;
}
#u118 {
  position:absolute;
  left:198px;
  top:64px;
  width:178px;
  height:181px;
}
#u119 {
  position:absolute;
  left:2px;
  top:82px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:320px;
  top:23px;
}
#u120_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u120_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:56px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:56px;
}
#u122 {
  position:absolute;
  left:44px;
  top:20px;
  width:52px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:26px 8px;
  -ms-transform-origin:26px 8px;
  -moz-transform-origin:26px 8px;
  -webkit-transform-origin:26px 8px;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:95px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  position:absolute;
  left:20px;
  top:27px;
  width:168px;
  height:95px;
}
#u124 {
  position:absolute;
  left:2px;
  top:40px;
  width:164px;
  word-wrap:break-word;
}
